body {
    overflow:hidden;
}

#container {
    width: 900px;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -450px;
    margin-top: -450px;
    
}

#tower {
    position: absolute;
    top: 80%;
    left: 48.8%;
    width: 4%;
    height: 4%;
    border-radius: 50%;
    background-color: black;
    
}

#enemy {
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    background-color: red;
    width: 1.5%;
    height: 1.5%;
    border-radius: 50%;
    transition-property: all;
    transition-timing-function: linear;
}

